<div class="main-box">
  <h2 class="page-title">Leaderboard</h2>
  <div class="plainRow">
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="card card-leader">
      <img class="img-responsive leader-img" src="https://www.play24x7games.com//assets/img/user-1.jpg" alt="image">
      <div class="container">
        <h6 title="ShubhamC"><b>SHUBHAMC</b></h6>
        <p class="coins-no">Coins : 305211</p>
      </div>
    </div>
    <div class="space"></div>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    
    <p>&nbsp;</p>
    <br><br><br><br>
  </div>


</div>