<div class="refund-cancel-wrapper">
  <h1 class="pageTitle">Refund and Cancellation Policy</h1>
  <div class="plainRow form-group">
    <p>Play24x7games. Policy for the refund and cancellation will be as follows. Most trusted &amp; secured rummy and
      Ludo website in India.</p>

    <p>Play24x7games focus is complete customer satisfaction. In the event, if you are displeased with the services
      provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please
      read the fine prints of each deal before buying it, it provides all the details about the services or the product
      you purchase.<br>
      <br>
      In case of dissatisfaction from Play24x7games services, clients have the liberty to cancel their projects and
      request a refund from Play24x7games. Play24x7games Policy for the cancellation and refund will be as follows:</p>

    <p>&nbsp;</p>

    <p><strong>&nbsp;</strong><strong>CANCELLATION&nbsp;POLICY</strong><br>
      <br>
      For Cancellations please contact us via contact us link.&nbsp;<br>
      <br>
      Requests received later than 7 business days prior to the end of the current service period will be treated as
      cancellation of services for the next service period.<br>
      <br>
      <strong>REFUND POLICY</strong><br>
      <br>
      Play24x7games will try our best to create the suitable design concepts for our clients.</p>

    <p><br>
      In case any client is not completely satisfied with our products we can provide a refund.&nbsp;</p>

    <p>&nbsp;</p>

    <p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and
      in case of payment gateway name payments refund will be made to the same account.</p>
  </div>
</div>