<!-- <div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');"> -->
<div class="carousel-box" data-parallax="true">

    <!-- <div class="motto text-center">
          <h1>Example page</h1>
          <h3>Start designing your landing page here.</h3>
          <br />
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
          <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
      </div> -->
    <div id="carousel">
        <div class="row">
            <div class="col-md-12 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img class="main-carousel-img" src="../../../assets/img/main-carousel/main-crsl-img1.png" alt="Random first slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="main-carousel-img" src="../../../assets/img/main-carousel/main-crsl-img2.png" alt="Random second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="main-carousel-img" src="../../../assets/img/main-carousel/main-crsl-img3.png" alt="Random third slide">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">World's Leading online gaming platform</h2>
                    <!-- <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5> -->
                    <br>
                    <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Safe Payment</h4>
                            <p class="description">100% safe payments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Customer Support</h4>
                            <p>24x7 Customer Support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Cash Withdrawl</h4>
                            <p>Instant Cash Withdrawl.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- games images section - start -->
    <div class="section section-dark gaming-images-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">GamingHub</h2>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <img class="game-img" src="../../../assets/img/ludo-latest.png" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <img class="game-img" src="../../../assets/img/rummy-latest.png" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- games images section - end -->


    <!-- testimonials section - start -->
    <div class="section testimonials-section text-center">
        <div class="container">
            <h3 class="title">Testimonials</h3>
            <div id="carousel">
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel class="carousel-inner">
                                <ng-template ngbSlide>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <div class="img-box">
                                                <img class="img-thumbnail img-responsive testimonial-img" src="./assets/img/soroush-karimi.jpg"
                                                alt="Random first slide">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="testimonial-content">
                                                <h4 class="testimonial-title">Gorge</h4>
                                            <br><br>
                                            <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                            <br><br>
                                            <div class="testimonial-text">
                                                1this is something good. exciting 100% guaranteed gifts like iPhoneX,
                                                Harley Davidson Bike, and A Volvo Car from scratch cards.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <div class="img-box">
                                                <img class="img-thumbnail img-responsive testimonial-img" src="./assets/img/federico-beccari.jpg"
                                                alt="Random first slide">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="testimonial-content">
                                                <h4 class="testimonial-title">Nice</h4>
                                            <br><br>
                                            <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                            <br><br>
                                            <div class="testimonial-text">
                                                2this is something good. exciting 100% guaranteed gifts like iPhoneX,
                                                Harley Davidson Bike, and A Volvo Car from scratch cards.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <div class="img-box">
                                                <img class="img-thumbnail img-responsive testimonial-img" src="./assets/img/joshua-stannard.jpg"
                                                alt="Random first slide">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="testimonial-content">
                                                <h4 class="testimonial-title">Edward</h4>
                                            <br><br>
                                            <i class="fa fa-quote-left fa-2x fa-pull-left"></i>
                                            <br><br>
                                            <div class="testimonial-text">
                                                3this is something good. exciting 100% guaranteed gifts like iPhoneX,
                                                Harley Davidson Bike, and A Volvo Car from scratch cards.
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials section - end -->


    <!-- video section - start -->
    <div class="section video-section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="video-content">
                        <!-- <h2 class="title"></h2> -->
                        <h5 class="description">Sign up and get rupees 14000 Bonus absolutely free.<br><br>
                            Sign up and get 75 rupees real cash for the first time.<br><br>
                            Win exciting 100% guaranteed gifts like iPhoneX, Harley Davidson Bike, and A Volvo Car from
                            scratch cards.<br><br>
                            Hurry Up<br>
                            Keep Playing and Win Exciting prizes.
                        </h5>
                        <button type="button" class="btn btn-danger btn-play-now">Play Now</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="video-box">
                        <iframe width="400" height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    </div>
                </div>
            </div>
            <br /><br />
        </div>
        <div class="video-subsection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="info-box plain-row">
                            <!-- <i class="fa fa-hand-paper"></i> -->
                            <img class="info-img" src="https://www.play24x7games.com/assets/img/responsible.png">
                            <h3 class="info-title">Responsible Play:</h3>
                            <p class="info-desc">Play24x7 encourages all its players to play responsibly. Stay in
                                control, stay entertained!</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="info-box plain-row">
                            <!-- <i class="fa fa-hand-paper"></i> -->
                            <img class="info-img" src="https://www.play24x7games.com/assets/img/legal.png">
                            <h3 class="info-title">100% Legal:</h3>
                            <p class="info-desc">Skill games were declared by the Honbl. Supreme Court of India is 100%
                                legal to play for free or for cash.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- video section - end -->


    <div class="section payment-images-section text-center">
        <div class="container">
            <h2 class="title">Payment Accepted</h2>
            <div class="payment-images-box">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="payment-img" src="../../../assets/img/payment/paytm.jpg" /></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="payment-img" src="../../../assets/img/payment/visa.png" /></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="payment-img" src="../../../assets/img/payment/master-card.png" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="payment-img" src="../../../assets/img/payment/paypal.jpg" /></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="payment-img" src="../../../assets/img/payment/google-pay.jpg" /></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><img class="payment-img" src="../../../assets/img/payment/master-card.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer - start -->
    <div class="section section-dark landing-section footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-mb-12">
                    <h2 class="text-center">Quick Links</h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                            <ul class="menu">
                                <li> <a href="#">About Us</a></li>
                                <li> <a href="#">Rules</a></li>
                                <li> <a href="#">Refund and Cancellation Policy</a></li>
                                <li> <a href="#">Wallet</a></li>
                                <li> <a href="#">Terms and Conditions</a></li>
                                <li> <a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                            <ul class="menu">
                                <li> <a href="#">FAQ's</a></li>
                                <li> <a href="#">Blog</a></li>
                                <li> <a href="#" data-toggle="modal" data-target="#myModalcontact">Contact Us</a></li>
                                <li> <a href="#" target="_blank"><i></i>Payment Process </a></li>
                            </ul>
                            <button type="button" class="btn btn-outline-danger btn-lg btn-download">Download App</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-mb-12">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                                        (blur)="focus1=false">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone Number</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <!-- <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span> -->
                                        <span class="input-group-text"><img src="../../../assets/img/phone.svg" /></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Phone number" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Subject</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="Working Business">Working Business</option>
                                        <option value="Suggest">Suggest</option>
                                        <option value="Feedback">Feedback</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4"
                            placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill btn-msg">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="warning">
            <div class="container">
                <div class="warning-inner">
                    <p>You must be 18 years or older to play real money skill games.</p>
                    <p>Play 24x7 games do not assure or promote you about any guaranteed winning amount in the website or in the mobile application.</p>
                    <p>The winning or loosing is purely dependent on your skills</p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <ul class="footer-social f-padding-top">
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 site-info text-center">
                        <ul class="footer-social f-padding-top">
                            <p>© Copyright 2019. All Rights Reserved.</p>
                        </ul>
                    </div>
                    <div class="col-sm-4 text-center">
                        <ul class="footer-social f-padding-top">
                            <span class="footMFont"><i class="fa fa-lock"></i> 100% Safe &amp; Secure </span>
                            <span class="footMFont">Age 18+</span>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <a class="badge"><img class="footer-bagde" src="https://www.play24x7games.com/assets/img/100_legal.png"
                                alt="image"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer - end -->
</div>