<div class="blog-wrapper">
  <h1 class="pageTitle">Blog</h1>
  <div class="plainRow form-group">
    <p>Check the blog to get the latest news about rummy and Ludo tournaments, promotions. Also, get tips &amp; tricks
      here at Play24x7games.com</p>
      <br>
    <p>I would highly recommend play 24x7 game portal to all people. It has been an amazing experience to play games on
      this portal. I have won many prizes till now. The services are very good and it is very secured - John Doe<br>
      <br>
  </div>
</div>