<h2 class="pageTitle">Payment Process </h2>
<div class="carousel-box" data-parallax="true">

  <!-- <div class="motto text-center">
        <h1>Example page</h1>
        <h3>Start designing your landing page here.</h3>
        <br />
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
        <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
    </div> -->
  <div id="carousel">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/01.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/02.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/03.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/04.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/05.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/06.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/07.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/08.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/09.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/10.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/11.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/12.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/13.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/14.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/15.jpg" alt="paymemt process">
            </ng-template>
            <ng-template ngbSlide>
              <img class="carousel-img" src="../../../assets/img/payment-process/16.jpg" alt="paymemt process">
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>