.pageTitle {
    font-size: 2.3em;
    color: #fff;
    border-bottom: 3px solid #f5593d;
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: left;
}

.carousel-box {
    min-height: 66.5vh;
    height: auto;
}

.carousel-img {
    border-radius: 8px;
    border: 2px solid #f5593d;
}