.pageTitle {
    font-size: 2.3em;
    font-weight: bolder;
    color: #fff;
    border-bottom: 3px solid #f5593d;
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: left;
}

.etor-box {
    min-height: 66vh;
    height: auto;
}