<footer class="plainRow">
  <input type="hidden" name="countryCode" id="countryCode" value="IN">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="menuFooterInner float-left">
            <input type="hidden" id="site_url" value="https://www.play24x7games.com/">
            <a class="" href="https://www.play24x7games.com/about-us">About Us</a>
            <a class="" href="https://www.play24x7games.com/rules">Rules</a>
            <a class="" href="https://www.play24x7games.com/refund-and-cancellation-policy">Refund and Cancellation
              Policy</a>
            <a class="" href="https://www.play24x7games.com/wallet">Wallet</a>
            <a class="" href="https://www.play24x7games.com/terms-and-conditions">Terms and Conditions</a>
            <a class="" href="https://www.play24x7games.com/privacy-policy">Privacy Policy</a>
            <a class="" href="https://www.play24x7games.com/faqs">FAQs</a>
            <a class="" href="https://www.play24x7games.com/blog">Blog</a>
            <a href="https://www.play24x7games.com/franchisee" target="_blank"><i></i> Business Facilitator Login </a>
            <a href="https://www.play24x7games.com/paymentprocess" target="_blank"><i></i>Payment Process </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>