<div class="rules">
  <h1 class="pageTitle">Rules</h1>
  <div class="plainRow form-group">
    <p>&nbsp;</p>

    <p class="rules-title"> ** RUMMY&nbsp;PLAY&nbsp;2 CASH&nbsp;**</p>

    <p>&nbsp;</p>

    <p>&nbsp;&nbsp;1] Rummy card game is played between 2 to 6 players with two decks of cards.</p>

    <p>&nbsp; 2] The player has to draw and discard cards to form valid sets and sequences of the 13 cards in hand.</p>

    <p>&nbsp;&nbsp;3] To start, each player have 13 cards. One random card is picked as the Wild Card or Joker card of
      the game. To&nbsp;create&nbsp;impure sequence and sets using wild or joker card.</p>

    <p>&nbsp;&nbsp;4] Once all the 13 cards are arranged in valid sequences and groups, he can make a declaration and
      win the game.</p>

    <p>&nbsp; 5] In rummy, a sequence is a group of three or more consecutive cards of the same suit.</p>

    <p>&nbsp; 6] A pure sequence is a group of three or more cards of the same suit, placed in consecutive order. A
      player cannot use any&nbsp;Joker or wild card.</p>

    <p>&nbsp; 7] An impure sequence is a group of three or more cards of the same suit with one or more Joker
      card&nbsp;used. A set is group of three or four cards of the same value but&nbsp; of&nbsp;different&nbsp;suits.
    </p>

    <p>&nbsp; &nbsp;8] SET 1 compulsory &amp; SET 2 if needed to complete 13 Cards in sets and sequences. Made with 3 or
      4 Cards only. Cards of&nbsp;same value &amp; different suits, can you use joker or wild card.</p>

    <!-- <p>&nbsp;</p> -->

    <!-- <p>&nbsp;</p> -->

    <!-- <p>&nbsp;</p> -->

    <!-- <p>&nbsp;</p> -->
  </div>
</div>