<div class="faqs">
  <h1 class="pageTitle">FAQs</h1>
  <div class="plainRow form-group">
    <p class="subtitle"><small>Take a look at our frequently asked questions here for more information about Rummy and Ludo games. Get all the answers regarding games at Play24x7games.com<br>
&#8203;</small><strong>&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;<br>
WHAT&nbsp;SHOULD&nbsp;I DO, HAVE&nbsp;FORGOTTEN&nbsp;MY&nbsp;PASSWORD? </strong></p>

<p>To reset your password, you need to “ page link” Once you enter your username and email id, communication will be sent further instruction.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>HOW&nbsp;CAN&nbsp;I CHANGE&nbsp;MY&nbsp;PASSWORD?</strong></p>

<p>To reset your password, you need to “ page link” Once you enter your username and email id, communication will be sent further instruction.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>HOW&nbsp;CAN&nbsp;I CHANGE&nbsp;MY&nbsp;PASSWORD?</strong></p>

<p>Once you login to your account, click on the “page link “ section displayed at the top of the page.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>WHY&nbsp;DO&nbsp;I NEED&nbsp;TO GIVE MY EMAIL ID?</strong></p>

<p>You need to provide us your email id so that we can send you account related information, exciting offers etc. User at play24x7 get in touch by sending mails from their registered email id. Hence it is essential for every player who <a href="https://www.play24x7games.com/">https://www.play24x7games.com</a> give his/her email id.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>HOW LONG WILL IT TAKE TO GET A REPLY FROM YOU?</strong></p>

<p>Turn around time for User’s query is 2-3 working days.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>WHAT HAPPENS TO THE ACCOUNT BALANCE, WHEN AN ACCOUNT IS DEACTIVATED?</strong></p>

<p>Amount stays in the account for?&nbsp;days, after that it gets forfeited as per Terms and conditions.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>IS USER'S MONEY SAFE WITH PLAY24x7?</strong></p>

<p>Definitely, We assure you that your money is always safe with play24x7.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>CAN WE CHANGE OUR REGISTERED EMAIL ID?</strong></p>

<p>Why not! You can change your registered email id. You can drop your request on support@”emailid”. Our support will be happy to help you.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>HOW CAN I CHANGE MY BANK ACCOUNT DETAILS ON MY ACCOUNT?</strong></p>

<p>Bank account details once added cannot be deleted. You can add new bank account details while requesting for your cash out.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>HOW MUCH TIME DOES IT TAKE FOR CASH OUT?</strong></p>

<p>All cash outs are processed within 24 working hours.</p>

<p>&nbsp;</p>

<p class="subtitle"><strong>WHAT PAYMENT OPTIONS ARE AVAILABLE?</strong></p>

<p>We accept payments via Credit Card, Debit Card, Net Banking.</p>

<p>Once you login to your account, click on the “page link “ section displayed at the top of the page.</p>

<p><br>
&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>      </div>
</div>
