<div class="terms-cond-wrapper">
  <h1 class="pageTitle">Terms and Conditions</h1>
  <div class="plainRow form-group">
    <p class="subtitle"><strong>TERMS &amp; CONDITION:</strong></p>

    <p>Terms and Conditions Apply.&nbsp;Six 3 Six&nbsp; operates an online gaming portal at www.play24x7games.com. Know
      all the details here. A range of online games as well as other services is offered on the Portal.<br>
      The players of Six 3 Six, as well as the users of the Portal, are here in after referred to as Users. In the
      following general terms and conditions (here in after referred to as Terms &amp; Conditions), references made to
      “Games” will pertain to the games offered by Six 3 Six.&nbsp;<br>
      The business relationship between Six 3 Six and Users shall be exclusively based upon these Terms and
      Conditions.<br>
      The following terms regulate the use of online games provided by Six 3 Six on their internet pages, as well as
      their additional range of services.These terms an&nbsp;conditions completely applicable on every versions of Six 3
      Six terms and conditions</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>&nbsp;&nbsp;DEFINED TERMS:</strong></p>

    <ol>
      <li>
        <p>Six 3 Six offer online games as well as other services within the framework of their technical and
          operational capabilities with an average annual availability of 90%. This does not include periods of time
          during which the use of online or other service offerings are interrupted or affected by compelling technical
          reasons or required maintenance work. In these cases&nbsp;Six 3 Six&nbsp;are not compelled to provide
          compensation in accordance with the provisions of this agreement. Periods of time, during which the servers
          of&nbsp;Six 3 Six in general or of certain games in particular are unavailable on the internet due to reasons
          beyond&nbsp;Six 3 Six&nbsp;control (force majeure, third party responsibility etc.) are also not included.</p>
      </li>
      <li>
        <p>The online games as well as the additional range of services are continuously being developed, updated and
          adjusted further by Six 3 Six. Thus, users are merely participating in the respective games or additional
          offers in their respective version provided at any given time.</p>
      </li>
      <li>
        <p>Users are responsible for the suitability and up-to-dateness of their software and hardware.</p>
      </li>
      <li>
        <p>In addition to these terms and conditions, existing rules for individual online apply. In case of
          inconsistency between these terms and conditions and the rules of the game, the provisions of these terms and
          conditions take precedence. Specific terms and conditions also apply to certain online games, specific
          versions and/or components of online, and individual service offerings on the Six 3 Six pages.</p>
      </li>
      <li>
        <p>Users have the opportunity to use the services of&nbsp;Six 3 Six&nbsp;for various online games as well as
          other authorized services.</p>
      </li>
      <li>
        <p>User registration is required for the use of online games as well as other services offered by Six 3 Six.</p>
      </li>
      <li>
        <p>Only natural persons are eligible for registration. Only individuals will be accepted as authorized users (no
          groups, families, spouses or life partners, etc.). In so far as the user is a minor, they certify that by
          sending the registration request, an effective consent of the legal representatives is available.</p>
      </li>
      <li>
        <p>With the successful registration, the user opens an account (“user account”) which the user manages
          independently.</p>
      </li>
      <li>
        <p>Discussion related to any Politicians or any cast is strictly prohibited.</p>
      </li>
      <li>
        <p>Six 3 Six&nbsp;do not represent or associate itself with any political associations or party.Resemblance to
          any personality, character or person is purely coincidental.</p>
      </li>
    </ol>

    <p class="subtitle padding-top"><strong>&nbsp;</strong></p>

    <p class="subtitle padding-top"><strong>REGISTRATION AND ACCOUNT:</strong></p>

    <p>&nbsp; &nbsp;In order to access our Games and our Services, you will need to register for an account. You agree
      to :</p>

    <ol>
      <li>
        <p>Provide accurate, truthful, current and complete information when creating an account.</p>
      </li>
      <li>
        <p>Maintain and promptly update your account information.</p>
      </li>
      <li>
        <p>Maintain the security of your account by not sharing your password with others and restricting access to your
          account and your computer or mobile device.</p>
      </li>
      <li>
        <p>Take responsibility for all activities that occur under your account and accept all risks of unauthorized
          access.</p>
      </li>
    </ol>

    <p>&nbsp;</p>

    <p class="subtitle padding-top"><strong>&nbsp;REGISTRATION TERMINATION:</strong></p>

    <p>&nbsp; &nbsp;Six 3 Six may at any time terminate any user account for any reason without prior notice. Some
      reasons for termination includes but are not limited to:</p>

    <ol>
      <li>
        <p>Any user found violating any terms set forth in the Terms of Service.</p>
      </li>
      <li>
        <p>Any user found cheating or exploiting Six 3 Six in any way, shape or form.</p>
      </li>
      <li>
        <p>Any users using fake information on Six 3 Six&nbsp;or on advertiser's offers.</p>
      </li>
    </ol>

    <p>&nbsp;</p>

    <p class="subtitle padding-top"><strong>INSTRUCTIONS AND RULES OF THE GAMES:</strong></p>

    <ol>
      <li>
        <p>Instructions and rules of the Games will be published on the portal.</p>
      </li>
      <li>
        <p>The User will also refrain from undertaking any other activity which could interfere with the normal
          operation of Games or disrupt the successful interaction between Users.</p>
      </li>
    </ol>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>MODIFICATION OF TERMS:</strong></p>

    <p>Six 3 Six reserves the right to modify the Terms at any time. Your use of the Services after any such changes
      become effective constitutes your acceptance of the new Terms. If you do not agree to abide by these or any future
      Terms, do not use or access (or continue to use or access) the Services. It is your responsibility to check to
      determine if there have been changes to these Terms and to review such changes.</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>ADVERTISEMENT &amp; PROMOTION:</strong></p>

    <p>Six 3 Six may run advertisements and promotions from third parties on the Services or may otherwise provide
      information about or links to third-party products or services on the Services. Your business dealings or
      correspondence with, or participation in promotions of, such third parties, and any terms, conditions, warranties
      or representations associated with such dealings or promotions are solely between you and such third party. Six 3
      Six&nbsp;not responsible or liable for any loss or damage of any sort incurred as the result of such dealings or
      promotions or as the result of the presence of non -&nbsp;Six 3 Six&nbsp;advertisements or other third party
      information on the Services.</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>NO LIABILITY:</strong></p>

    <p>At no time will&nbsp;Six 3 Six&nbsp;be liable for anything resulting from the use of a member's account. This
      includes, but is not limited to the following:&nbsp;<br>
      suspension or termination of an account, dissemination of information concerning an account, legal proceedings
      initiated against a member.</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>DATA PROTECTION:</strong></p>

    <p>Information regarding the type, scope, place and purpose of collecting, processing and use of the personal data
      required for the agreement as well as for the execution of orders and sending of newsletter on our end, as well as
      your right to information and the right to correction, blocking and deletion.</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>PAYMENT CONDITIONS:</strong></p>

    <p>Payments will be made through portal, you cannot contact authorized third party directly for payment.User trying
      to break or using any trick to hack as we are having eye on everything will cause an legal action will be taken
      according to law Governed by Government Malaysia.</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>AVAILABILITY:</strong></p>

    <p>Excepted here from are times for regular maintenance of the Games, which is only possible in an off-line mode,
      and times in which the Games, due to force majeure, external manipulation or other problems that are not within
      our control or that of our vicarious agents, cannot be reached. We are liable for the unavailability of the Games
      only in cases of willful intent or gross negligence or culpable violation of life, body or health.</p>

    <!-- <hr> -->
    <p class="subtitle padding-top"><strong>ACKNOWLEDGEMENT:</strong></p>

    <p>All players must acknowledge and accept these requirements prior to user registration and game play. No
      exceptions are permitted.</p>

    <p>&nbsp;</p>

    <p class="subtitle padding-top"><strong>COMPANY DETAILS:</strong></p>

    <p>NAME: Six 3 Six&nbsp;SDN.&nbsp;BHD.</p>

    <p>REGISTRATION NUMBER:&nbsp;1309415&shy;H</p>

    <p>ADDRESS:&nbsp;</p>

    <p>WARD 37 VILLAGE, VISHAKHAPATNAM U MANDAL, VISHAKHAPATNAM.</p>

    <p>SUPPORT EMAIL: Play24x7.games@gmail.com</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

    <p>&nbsp;</p>
  </div>
</div>