<div class="sidenav" id="rightSidenav">
  <a href="javascript:void(0)" class="closeWinners" (click)="closeRightNav()">&times;</a>
  <!-- <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a> -->
  <div class="sidenav-wrapper">
    <div class="sidenav-content">
      <h2 class="winner-title">Top Players</h2>
      <a href="#" class="plainRow rightGamesList">
        <div class="col-md-3 noPadding">
          <img class="img-responsive" src="../../../../assets/img/winners/male-icon.png" title="image" alt="image">
        </div>
        <div class="col-md-9">
          <h3>SHUBHAMC</h3>
          <p>Coins : 305211</p>
        </div>
      </a>
      <a href="#" class="plainRow rightGamesList">
        <div class="col-md-3 noPadding">
            <img class="img-responsive" src="../../../../assets/img/winners/female-icon.jpg" title="image" alt="image">
        </div>
        <div class="col-md-9">
          <h3>SHUBHAMC</h3>
          <p>Coins : 305211</p>
        </div>
      </a>
      <a href="#" class="plainRow rightGamesList">
        <div class="col-md-3 noPadding">
            <img class="img-responsive" src="../../../../assets/img/winners/female-icon.jpg" title="image" alt="image">
        </div>
        <div class="col-md-9">
          <h3>SHUBHAMC</h3>
          <p>Coins : 305211</p>
        </div>
      </a>
      <a href="#" class="plainRow rightGamesList">
        <div class="col-md-3 noPadding">
          <img class="img-responsive" src="../../../../assets/img/winners/male-icon.png" title="image" alt="image">
        </div>
        <div class="col-md-9">
          <h3>SHUBHAMC</h3>
          <p>Coins : 305211</p>
        </div>
      </a>
      <a href="#" class="plainRow rightGamesList">
        <div class="col-md-3 noPadding">
            <img class="img-responsive" src="../../../../assets/img/winners/female-icon.jpg" title="image" alt="image">
        </div>
        <div class="col-md-9">
          <h3>SHUBHAMC</h3>
          <p>Coins : 305211</p>
        </div>
      </a>
    </div>
  </div>
</div>